<div class="main-wrapper pt-100 oh">

  <!-- Page Title -->
  <section class="page-title style-2">
  	<div class="container relative clearfix">
  		<div class="title-holder">
  			<div class="title-text text-center">
  				<h1>
            <%= @artist.name %>
          </h1>
  			</div>
  		</div>
  	</div>
  </section>
  <!-- end page title -->

  <section class="section-wrap">
    <div class="container">

      <div class="row">
        <div class="col-md-8">
          <%= image_tag @artist.image_url, style: "border: 2px solid #f7f7f7;" %>
        </div>

        <div class="col-md-4">
          <p>
            <%= raw @artist.bio %>
          </p>

          <div class="artist-action">
            <%= link_to "Soundcloud", "http://soundcloud.com/#{@artist.soundcloud}", class: "btn btn-lg btn-color btn-submit" %>
            <a href="<%= @artist.image_url %>" class="btn btn-lg btn-color btn-submit" download="<%= @artist.image.file.filename.gsub("image-", "") %>">Photo Download</a>
          </div>

        </div>
      </div>

    </div>
  </section>

</div>
